<main class="pa3 pa5-ns">
  <p class="f6 lh-copy measure-narrow">
     The web and the world is full of such horrible things.   Hopefully this isn't one of them.
     And hopefully this gives you a chance to discover or rediscover some poetry in some peace and quiet, without advertisments, pop ups, trackers, likes, and favorites.
  </p>
  <p class="f6 lh-copy measure-narrow">
    Built using the amazing <%= link_to "Tachyons project", "http://tachyons.io/", class: "link hover-dark-red"%>, <%= link_to "Middleman", "https://middlemanapp.com/", class: "link hover-dark-red"%>, <%= link_to "Zeit", "https://zeit.co/", class: "link hover-dark-red"%>, and <%= link_to "Shakespeare", "https://en.wikipedia.org/wiki/William_Shakespeare", class: "link hover-dark-red"%>.
  </p>
  <p class="f6 lh-copy measure-narrow">
    Made by <%= link_to "@nicholalexander", "https://twitter.com/nicholalexander", class: "link hover-dark-red"%>,
    code on github.
  </p>
</main>